.App {
  background-color: #5a8ab6;
  height: 100vh;
  text-align: center;
  padding: 270px;
}

h1 {
  color: #e6f3fd;
  font-size: 80px;
  font-family: Papyrus, fantasy;
  margin-bottom: -55px;
}

h2 {
  color: white;
  font-size: 65px;
  margin-bottom: 10px;
  border-radius: 2;
}

h4 {
  color: #e6f3fd;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 25px;
}

.search-container {
  position: relative;
  width: 700px;
  margin: auto;
  display: flex;

}

.suggestion-container {
  border-radius: 10px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 60px; /* Adjust based on the height of your input box */
  width: 100%;
  background-color: white;
  z-index: 1;
}

.suggestion-item {
  padding: 10px;
  text-align: left;

}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item:hover {
  background-color: #e6f3fd;
}